.main{background-color:#005272;color:white;margin-left:380px;width:50%;
height:70%;margin-top:10px;padding:50px;font-size:20px;border:5 px solid black;
border-collapse:collapse;
border-radius:10px}
h1{text-align:center;margin-top:100px;color:white}
body{background-color:#7bb8db
}
.main td{padding:0px}
.main input{size:100%}
tr{height:50px}
.i{width:300px;height:40px;text-align:center;margin-left:30px;border:1px solid ;border-collapse:collapse;
border-radius:10px}
.s{width:70%;margin-left:100px;height:40px;border:1px solid ;border-collapse:collapse;
border-radius:10px}
.reg label{
	margin-left:70px
}
.ro{font-size:20px}